src/META-INF/wsdl/localhost_8080/ProjetAppDistribue-war/ManageWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ManageWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ProjetAppDistribue-war/ManageWS?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="getCourDuCompte">
<part name="parameters" element="tns:getCourDuCompte"/>
</message>
<message name="getCourDuCompteResponse">
<part name="parameters" element="tns:getCourDuCompteResponse"/>
</message>
<message name="getCourDuCompteNonInscri">
<part name="parameters" element="tns:getCourDuCompteNonInscri"/>
</message>
<message name="getCourDuCompteNonInscriResponse">
<part name="parameters" element="tns:getCourDuCompteNonInscriResponse"/>
</message>
<message name="crerCompteAvecCour">
<part name="parameters" element="tns:crerCompteAvecCour"/>
</message>
<message name="crerCompteAvecCourResponse">
<part name="parameters" element="tns:crerCompteAvecCourResponse"/>
</message>
<message name="getCompteLoginPass">
<part name="parameters" element="tns:getCompteLoginPass"/>
</message>
<message name="getCompteLoginPassResponse">
<part name="parameters" element="tns:getCompteLoginPassResponse"/>
</message>
<message name="creerCour">
<part name="parameters" element="tns:creerCour"/>
</message>
<message name="creerCourResponse">
<part name="parameters" element="tns:creerCourResponse"/>
</message>
<message name="findCompte">
<part name="parameters" element="tns:findCompte"/>
</message>
<message name="findCompteResponse">
<part name="parameters" element="tns:findCompteResponse"/>
</message>
<message name="getCompteById">
<part name="parameters" element="tns:getCompteById"/>
</message>
<message name="getCompteByIdResponse">
<part name="parameters" element="tns:getCompteByIdResponse"/>
</message>
<message name="creerCompteEtudiant">
<part name="parameters" element="tns:creerCompteEtudiant"/>
</message>
<message name="creerCompteEtudiantResponse">
<part name="parameters" element="tns:creerCompteEtudiantResponse"/>
</message>
<message name="getAllCour">
<part name="parameters" element="tns:getAllCour"/>
</message>
<message name="getAllCourResponse">
<part name="parameters" element="tns:getAllCourResponse"/>
</message>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="getAllCompteExceptSupadmin">
<part name="parameters" element="tns:getAllCompteExceptSupadmin"/>
</message>
<message name="getAllCompteExceptSupadminResponse">
<part name="parameters" element="tns:getAllCompteExceptSupadminResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="ManageWS">
<operation name="update">
<input wsam:Action="http://ws/ManageWS/updateRequest" message="tns:update"/>
<output wsam:Action="http://ws/ManageWS/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="getCourDuCompte">
<input wsam:Action="http://ws/ManageWS/getCourDuCompteRequest" message="tns:getCourDuCompte"/>
<output wsam:Action="http://ws/ManageWS/getCourDuCompteResponse" message="tns:getCourDuCompteResponse"/>
</operation>
<operation name="getCourDuCompteNonInscri">
<input wsam:Action="http://ws/ManageWS/getCourDuCompteNonInscriRequest" message="tns:getCourDuCompteNonInscri"/>
<output wsam:Action="http://ws/ManageWS/getCourDuCompteNonInscriResponse" message="tns:getCourDuCompteNonInscriResponse"/>
</operation>
<operation name="crerCompteAvecCour">
<input wsam:Action="http://ws/ManageWS/crerCompteAvecCourRequest" message="tns:crerCompteAvecCour"/>
<output wsam:Action="http://ws/ManageWS/crerCompteAvecCourResponse" message="tns:crerCompteAvecCourResponse"/>
</operation>
<operation name="getCompteLoginPass">
<input wsam:Action="http://ws/ManageWS/getCompteLoginPassRequest" message="tns:getCompteLoginPass"/>
<output wsam:Action="http://ws/ManageWS/getCompteLoginPassResponse" message="tns:getCompteLoginPassResponse"/>
</operation>
<operation name="creerCour">
<input wsam:Action="http://ws/ManageWS/creerCourRequest" message="tns:creerCour"/>
<output wsam:Action="http://ws/ManageWS/creerCourResponse" message="tns:creerCourResponse"/>
</operation>
<operation name="findCompte">
<input wsam:Action="http://ws/ManageWS/findCompteRequest" message="tns:findCompte"/>
<output wsam:Action="http://ws/ManageWS/findCompteResponse" message="tns:findCompteResponse"/>
</operation>
<operation name="getCompteById">
<input wsam:Action="http://ws/ManageWS/getCompteByIdRequest" message="tns:getCompteById"/>
<output wsam:Action="http://ws/ManageWS/getCompteByIdResponse" message="tns:getCompteByIdResponse"/>
</operation>
<operation name="creerCompteEtudiant">
<input wsam:Action="http://ws/ManageWS/creerCompteEtudiantRequest" message="tns:creerCompteEtudiant"/>
<output wsam:Action="http://ws/ManageWS/creerCompteEtudiantResponse" message="tns:creerCompteEtudiantResponse"/>
</operation>
<operation name="getAllCour">
<input wsam:Action="http://ws/ManageWS/getAllCourRequest" message="tns:getAllCour"/>
<output wsam:Action="http://ws/ManageWS/getAllCourResponse" message="tns:getAllCourResponse"/>
</operation>
<operation name="persist">
<input wsam:Action="http://ws/ManageWS/persistRequest" message="tns:persist"/>
<output wsam:Action="http://ws/ManageWS/persistResponse" message="tns:persistResponse"/>
</operation>
<operation name="getAllCompteExceptSupadmin">
<input wsam:Action="http://ws/ManageWS/getAllCompteExceptSupadminRequest" message="tns:getAllCompteExceptSupadmin"/>
<output wsam:Action="http://ws/ManageWS/getAllCompteExceptSupadminResponse" message="tns:getAllCompteExceptSupadminResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws/ManageWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/ManageWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ManageWSPortBinding" type="tns:ManageWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCourDuCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCourDuCompteNonInscri">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crerCompteAvecCour">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompteLoginPass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creerCour">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompteById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creerCompteEtudiant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCour">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCompteExceptSupadmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ManageWS">
<port name="ManageWSPort" binding="tns:ManageWSPortBinding">
<soap:address location="http://localhost:8080/ProjetAppDistribue-war/ManageWS"/>
</port>
</service>
</definitions>